@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.CurrentUserName </h1>
</div>
<h2>大家的问题:</h2>
<ul>
    <li>如何做记住登录</li>
    <li>需要每隔30秒验证一次用户是否在有效状态</li>
    <li>Session如何做分布式存储</li>
    <li>SSO怎么做?</li>
    <li>API登录怎么做</li>
    <li>服务器集群环境下Cookie加密的密钥该怎么处理?</li>
    <li>用户密码的安全存储?</li>
</ul>


<h3>Cookie认证有啥特点?</h3>
<div>
    <p>Http本身是无状态的, 意味着两次同用户发出的请求，理论上服务器是无法识别的</p>
    <p>Cookie技术特点: 浏览器每次请求都会把同域Cookie发送到服务器</p>
</div>